@import '../../var.scss';

.lyrics{
   padding: 90px 15px 0 35px;
   font-weight: 500;
   line-height: 1.1;
   transform-origin: top;
   background-color: #F2F2F2;
   overflow-y: auto;

   &::-webkit-scrollbar{
      width: 5px;
      background-color: rgbs(0,0,0,0);
   }

   &::-webkit-scrollbar-thumb{
      width: 5px;
      background-color: $main-grey;
   }

   #lyrics-show{
      display: none;
   }
   
   p{
      height: 100%;
      max-width: 382px;
      padding-right: 10px;
      font-size: 24px;

      &::-webkit-scrollbar{
         width: 5px;
         background-color: rgbs(0,0,0,0);
      }

      &::-webkit-scrollbar-thumb{
         width: 5px;
         height: 95px;
         background-color: $main-grey;
      }
   }
}