@import '../../_var.scss';

@media (max-height: 1025px) {
   .lyrics p::-webkit-scrollbar-thumb{
      box-shadow: 0 50px 0 0 #F2F2F2 inset; // for hiding top of scroll
   }
}

@media (max-width: 1210px) {

   .lyrics {
      & > p {
         font-size: 20px;
      }
   }

}

@media (max-width: 1000px) {

   .lyrics {
      min-width: 320px;

      &:has(.lyrics-icon_wrap) {
         max-width: 320px;
      }

      & > p {
         font-size: 15px;
      }
   }

}

@media (max-width: 745px) {

   .lyrics {
      min-width: 325px;
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      padding: 0 15px 0 0;
      transform: translateX(calc(100% - 43.6px));
      transition: transform 0.2s linear;

      &:has(.lyrics-icon_wrap) {
         padding: 0 25px 0 0;
      }

      #lyrics-show {
         display: flex;
         flex-direction: column;
         gap: 10px;
         flex-shrink: 0;
         width: 45px;
         align-items: center;
         justify-content: center;
         font-family: 'Poppins';
         font-size: 23px;
         color: $main-grey;
         background-color: #F2F2F2;
         user-select: none;
         cursor: pointer;
   
         img {
            width: 12px;
            height: auto;
            transform: rotate(180deg); // gets changed in js
         }
      }
   }

   .lyrics-icon_wrap{
      flex-grow: 1;
   }
}

@media (max-width: 400px) {
   .lyrics{
      transform: translateX(calc(100% - 30px));

      #lyrics-show{
         width: 30px;
      }
   }

}