@media (max-width: 1210px) {

   .lyrics p {
      font-size: 20px;
   }

}

@media (max-width: 1000px) {

   .lyrics p {
      font-size: 15px;
   }

}

@media (max-width: 745px) {

   .lyrics {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      padding: 0 15px 0 0;
      transform: translateX(calc(100% - 43.6px));
      transition: transform 0.2s linear;

      #lyrics-show {
         display: flex;
         width: 45px;
         align-items: center;
         justify-content: center;
         margin-left: auto;
         background-color: #F2F2F2;
         cursor: pointer;
   
         img {
            width: 12px;
            height: auto;
         }
      }
   }
}