@import '../../var.scss';

.lyrics{
   min-width: 405px;
   position: relative;
   padding: 0 15px 0 35px;
   font-weight: 500;
   line-height: 1.1;
   background-color: #F2F2F2;
   overflow-y: auto;
   z-index: 150;

   &:has(.lyrics-icon_wrap) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
   }

   &::-webkit-scrollbar{
      width: 5px;
      background-color: rgbs(0,0,0,0);
   }

   &::-webkit-scrollbar-thumb{
      width: 5px;
      background-color: $main-grey;
   }

   #lyrics-show{
      display: none;
   }
   
   & > p{
      height: 100%;
      max-width: 382px;
      padding: 90px 10px 0 0;
      font-size: 24px;
      overflow-y: auto;

      &::-webkit-scrollbar{
         width: 5px;
         background-color: rgba(0,0,0,0);
      }

      &::-webkit-scrollbar-thumb{
         width: 5px;
         background-color: #c2c2c2;
         box-shadow: 0 90px 0 0 #F2F2F2 inset; // for hiding top of scroll
      }
   }
}

.lyrics-icon_wrap{
   max-width: 382px;
   img{
      display: block;
      width: 115px;
      margin: 0 auto 25px auto;
   }
   p{
      text-align: center;
   }
}