@media (max-width: 1210px) {

   .song-list{
      padding-right: 10px;

      .song-list_songs{
         padding-right: 5%;
      }
   }

   
}

@media (max-width: 1000px) {
   
   .song-list .song-list_songs{
      gap: 15px;
      padding-right: 10px;
   }

}

@media (max-width: 745px) {
   .song-list{
      padding-right: 55px; // 10px + .lyrics-show width
   }
}

@media (max-width: 500px) {
   .song-list .song-list_title{
      margin-bottom: 20px;
      font-size: 30px;
   }

   .song-list .song-list_songs{
      padding-right: 5px;
   }
}

@media (max-width: 400px) {
   .song-list{
      padding-right: 38px;
   }
}