@media (max-width: 1300px) {

   .controls-content{
      display: flex;
      gap: 35px;
   }

   .controls-common{
      flex: 1 1 auto;
   }

   .controls-info-wrap{
      margin-right: 7%;

      .controls-info{
         font-size: 25px;
      }
   }

   #copySongInfo{
      margin-right: 6%; // of .controls-common
   
      .controls-copy{
         width: 24px;
      }
   }

   .controls-buttons{
      
      gap: 20px;

      .controls-play{
         width: 29px;
      }
      
      .controls-previous,
      .controls-next{
         width: 20px;
      }
   }

   .controls-additional{
      flex: 1 1 auto;
      gap: 15%;
   }

   .controls-volume{
      max-width: 180px;
      flex: 1 1 auto;
   }

   .controls-timeline{
      width: auto;
      flex-shrink: 0;

      p:nth-child(1){
         margin-right: 0;
      }

      .controls-current-time::after{
         content: '/';
         display: inline-block;
         padding: 0 6px;
         font-size: 15px;
      }
   }

   #songTimeline {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
   }

   #repeatSong {
      margin-left: auto;

      .controls-repeat{
         width: 30px;
      }
   }

}

@media (max-width: 768px) {
   .controls-volume{
      display: none;
   }
}