@media (max-width: 1300px) {

   .controls-content{
      display: flex;
      gap: 35px;
   }

   .controls-common,
   .controls-additional{
      flex-shrink: 1;
   }

   .controls-info-wrap{
      width: 65%;
      flex-shrink: 1;
      margin-right: 7%;

   }

   #openSongInfo{
      width: 35px;
      height: 35px;
      margin-right: 6%; // of .controls-common
   }

   .controls-buttons{
      width: auto;
      gap: 30px;

      .controls-pause{
         width: 23px;
      }
      
      .controls-previous,
      .controls-next{
         width: 20px;
      }
   }

   .controls-additional{
      flex: 1 1 auto;
      gap: 12%;
   }

   .controls-volume{
      max-width: 180px;
      flex: 1 1 auto;
   }

   .controls-timeline{
      width: auto;
      flex-shrink: 0;

      p:nth-child(1){
         margin-right: 0;
      }

      .controls-current-time::after{
         content: '/';
         display: inline-block;
         padding: 0 6px;
         font-size: 15px;
      }
   }

   #songTimeline {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
   }

   #repeatSong {
      margin-left: auto;

      .controls-repeat{
         width: 30px;
      }
   }

}

@media (max-width: 768px) {
   .controls-volume{
      display: none;
   }
}