@import '../../_var.scss';

.song{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 35px;
   padding-right: 15px;
   cursor: pointer;

   .song-info{
      display: flex;
      align-items: center;
      gap: 18px;
      overflow: hidden;

      .song-info_cover{
         position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-shrink: 0;
         width: 60px;
         height: 60px;
         background-color: #F0F0F0;
         border-radius: 10px;
         overflow: hidden;

         img{
            object-fit: cover;
            width: 100%;
            height: 100%;
         }

         .song-animation{
            position: absolute;
            top: 0;
            left: 0;
            padding: 25%;
            width: 100%;
            height: 100%;
            /* display: none; or flex */
            justify-content: center;
            align-items: center;
            gap: 4px;
            background-color: rgb(49, 49, 49, 0);
            z-index: 50;

            & div{
               will-change: height;
               width: 3px;
               flex-shrink: 0;
               background-color: #fff;
               transition: height 1.6s linear;
            }

            div:nth-child(1){
               will-change: height;
               height: 75%;
               animation: music-1 .8s linear infinite alternate;

               @keyframes music-1 {
                  0%{
                     height: 75%;
                  }
                  33%{
                     height: 45%;
                  }
                  66%{
                     height: 100%;
                  }
                  100%{
                     height: 75%;
                  }
               }
            }
            div:nth-child(2){
               will-change: height;
               height: 60%;
               animation: music-2 .8s linear infinite  alternate;

               @keyframes music-2 {
                  0%{
                     height: 60%;
                  }
                  33%{
                     height: 100%;
                  }
                  66%{
                     height: 55%;
                  }
                  100%{
                     height: 60%;
                  }
               }
            }
            div:nth-child(3){
               will-change: height;
               height: 85%;
               animation: music-3 .8s linear infinite alternate;

               @keyframes music-3 {
                  0%{
                     height: 85%;
                  }
                  33%{
                     height: 95%;
                  }
                  66%{
                     height: 100%;
                  }
                  100%{
                     height: 85%;
                  }
               }
            }
            div:nth-child(4){
               will-change: height;
               height: 95%;
               animation: music-4 .8s linear infinite alternate;

               @keyframes music-4 {
                  0%{
                     height: 95%;
                  }
                  33%{
                     height: 40%;
                  }
                  66%{
                     height: 80%;
                  }
                  100%{
                     height: 95%;
                  }
               }
            }
            
         }
         
         .song-cover_placeholder{
            width: 43.33%;
            height: 60%;
         }

      }
   }

   .song-info_text{
      overflow: auto;
   }

   .song-name{
      height: 20px;
      margin-bottom: 7px;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }

   .song-singer{
      color: $main-grey;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
   }

   .song-time_menu{
      display: flex;
      align-items: center;
      gap: 35px;
   }

   .song-time{
      color: $main-grey;
   }

   .song-menu{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      width: 12px;
      cursor: pointer;

      &_circle{
         width: 6px;
         height: 6px;
         border-radius: 50%;
         background-color: $main-grey;
      }

      &:active::before{
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         display: block;
         width: 0px;
         height: 0px;
         border-radius: 50%;
         background-color: grey;
         transform-origin: center center;
         transform: translateX(-50%) translateY(-50%);
         opacity: .3;
         transition: .1s;
         animation: a12 .1s linear forwards;
         z-index: 50;
      }

      @keyframes a12 {
         to {
            width: 50px;
            height: 50px;
            opacity: 0;
         }
      }
   }
}