@media (max-height: 1025px) {
   .song-list,
   .lyrics > p{
      padding-top: 50px;
   }
}

@media (max-width: 1210px) {
   .App .main-content{
      grid-template-columns: 1fr auto;
   }
}

@media (max-width: 500px) {
   .App .main-content{
      grid-template-columns: 1fr;
   }
}

@media (max-width: 745px) {
   .App .main-content{
      display: flex;
   }

   .song-list, .lyrics{
      height: 100vh;
   }

   .song-list{
      flex-grow: 1;
   }

   .song-list .song-list_songs::-webkit-scrollbar,
   .song-list .song-list_songs::-webkit-scrollbar-thumb{
      width: 2px;
   }
}