.App{
   width: 100vw;
   height: 100vh;

   .main-content{
      display: grid;
      grid-template-rows: 100vh;
      grid-template-columns: minmax(auto, 730px) 1fr;

      margin: 0 auto 0 2.34vw;
   }
   
}

@media (max-height: 1025px) {
   .song-list,
   .controls,
   .lyrics{
      padding-top: 50px;
   }
}