.App{
   width: 100vw;
   height: 100vh;
   padding: 0 4.69%;

   .main-content{
      display: grid;
      grid-template-rows: 100vh;
      grid-template-columns: 43.7% 56.3%;
   }
   
}

@media (max-height: 1025px) {
   .song-list,
   .controls,
   .lyrics{
      padding-top: 50px;
   }
}